<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Image Uploading</title> 
</head> 

<body> 
	<a href = '/regis/home'>home</a>
	<h1>certificates to be approved</h1> 
	<div> 
		<% items.forEach(function(image) { %> 
		<div> 
            
		</div> 
		<% }) %> 
	</div> 
</body> 

</html> 
