<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Image Uploading</title> 
</head> 

<body> 
	<form action="/home/home" method="GET">
		<button type="submit">Home</button>
	</form>
	<h1> expected price is <%= price %> <h1>
</body> 

</html> 
